#container {
    display: grid;
    grid-template-columns: repeat(33, 1fr);
    /* 29 for now */
    grid-template-rows: repeat(33, 1fr);
    /* 29 for now */
    width: 500px;
    height: 500px;
    /* background-color: #000; */
}

.black {
    background-color: #5500ff;
}

.white {
    background-color: #e8e8e8;
}