/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Tiny5", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
  min-width: 0px;
}

#main-wrapper {
}

#container {
  width: 500px;
  max-width: 500px;

  /* Use height instead of aspect-ratio for better mobile Safari support */
  height: 500px;

  display: grid;
  grid-template-columns: repeat(37, 13px);
  grid-template-rows: repeat(37, 13px);

  /* Ensure it maintains square proportions */
}

@media (max-width: 500px) {
  #container {
    max-width: 300px;
    height: 300px; /* Match the width */

    grid-template-columns: repeat(37, 7px);
    grid-template-rows: repeat(37, 7px);
  }
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: bold;
  font-family: "Tiny5", sans-serif;
}

button {
  outline: none;
  text-decoration: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}

.buttonz {
  font-family: "Tiny5", sans-serif;
  background-color: #5901ce;
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #4500a8;
  }
}

.qr-brick-on {
  background-color: #5901ce;
}

.qr-brick-off {
  background-color: white;
}

.sequencer-border {
  background-color: #010ece;
}

.active-step {
  background-color: #5901ce;
}

.spacer {
  background-color: #010ece;
}

.sequence-cursor {
  background-color: yellow;
  opacity: 0.5;
}

.invertColors {
  filter: invert(90%);
}

#play-button {
  display: block;
}

#stop-button {
  display: none;
}
